@import "tailwindcss";

@theme inline {
  --color-default: var(--background);

  --text-color-default: var(--text-default);
  --text-color-subtle: var(--text-subtle);

  --border-color-default: var(--border-default);
}

:root {
  /* Background */
  --background: hsl(238, 3.8%, 4.3%);

  /* Text */
  --text-default: hsl(0, 0%, 98%);
  --text-subtle: hsl(0, 0%, 75%);

  /* Border */
  --border-default: hsl(240, 5%, 11%);
}

@layer base {
  body {
    @apply bg-default;
  }
}

@layer components {
  .screen-lines {
    position: relative;

    @variant before {
      top: 0;
      z-index: 100;
      background-color: var(--border-default);
      width: 200vw;
      height: 1px;
      position: absolute;
      left: -100vw;
    }

    @variant after {
      bottom: 0;
      z-index: 100;
      background-color: var(--border-default);
      width: 200vw;
      height: 1px;
      position: absolute;
      left: -100vw;
    }
  }
}
