@import "tailwindcss";

@theme inline {
  --color-default: var(--background);

  --text-color-default: var(--text);
  --text-color-muted: var(--text-muted);
}

:root {
  /* Background */
  --background: hsl(0, 0%, 8%);

  /* Text */
  --text-default: hsl(210, 20%, 98%);
  --text-muted: hsl(0, 0%, 43%);
}

@layer base {
  body {
    @apply bg-default;
  }
}
